@use "./../../variables.scss" as *;

.page {
  @media all and (max-width: 1425px) {
    max-width: unset;
  }
  .center {
    @media all and (min-width: $fullPageWidth) {
      width: calc(100% - (250px + 50px) * 2);
    }
    width: 100%;
  }
  .page-header {
    width: 100%;
    margin-top: 0;
  }
  & > #quartz-body {
    .sidebar {
      margin-top: 2rem;
      &.left {
        left: 0;
        margin-left: 25px;
      }
      &.right {
        right: 0;
        margin-right: 25px;
      }
    }
  }
}

/*
article {
  * {
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: var(--editor-line-height);
  }
  white-space: pre;
  counter-reset: line;
  & > *:not(ul),
  & > ul > li {
    position: relative;
  }
  & > *:not(ul):before,
  & > ul > li:before {
    counter-increment: line;
    content: counter(line);
    padding-inline-start: 0;
    display: inline-block;
    width: 20px;
    text-align: right;
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid red;
  }
  & > *:not(ul):after,
  & > ul > li:last-child:after {
    counter-increment: line;
    content: "\a" counter(line);
    padding-inline-start: 0;
    display: inline-block;
    width: 20px;
    text-align: right;
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid red;
    position: absolute;
  }
  & > *:not(ul):after {
    left: 0;
  }
  & > ul > li:before {
    left: 0;
  }
  & > ul {
    padding-left: 54px;
    & > li {
      &:before {
        position: relative;
        margin-left: -54px;
      }
      &:after {
        position: relative;
        left: -54px;
      }
      &::marker {
        content: "-";
      }
      & > * {
        margin-left: 24px;
      }
    }
  }*/
  /**:not(:first-child) {
    margin-top: calc(-1 * var(--editor-line-height));
    margin-bottom: 0;
  }
  & ul:not(:first-child) {
    margin-top: calc(-1 * var(--editor-line-height));
    margin-bottom: calc(-1 * var(--editor-line-height));
  }*//*
  & > *:not(:first-child) {
    margin-top: 0;
    margin-bottom: 0;
  }
  & > ul:not(:first-child) {
    margin-top: 0;
    & > li {
      margin-top: calc(-1 * var(--editor-line-height));
      margin-bottom: 0;
    }
    & + * {
      margin-top: calc(-1 * var(--editor-line-height));
      margin-bottom: 0;
    }
  }*/
  /*& > ul + * {
    margin-top: calc(-2 * var(--editor-line-height));
    margin-bottom: 0;
  }*//*
}
*/