@use "./explorer.scss";
@use "../../styles/variables.scss" as *;

.left,
.right {
  display: grid !important;
  gap: 1.5rem !important;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);

  .mobile-only.explorer & {
    grid-area: 1 / 1 / 2 / 2;
  }
  .search {
    grid-area: 1 / 1 / 2 / 2;
  }

  .darkmode {
    grid-area: 1 / 2 / 2 / 3;
  }

  .graph {
    grid-area: 1 / 1 / 1 / 3;
  }

  .backlinks {
    grid-area: 3 / 1 / 3 / 3;
  }

  .toc {
    grid-area: 2 / 1 / 3 / 3;
  }

  .recent-notes:nth-last-child(1) {
    grid-area: 2 / 1 / 2 / 3;
  }

  .recent-notes:nth-last-child(2) {
    grid-area: 3 / 1 / 4 / 3;
  }

  @media all and ($tablet) {
    display: flex !important;
  }
}

.mobile-only.explorer {
  #explorer-content {
    //left: 0;
    z-index: 100;
    position: absolute;
    //max-height: max-content !important;
    background-color: var(--light);
    //max-width: calc(100% - 36px);
    max-width: 100%;
    //width: calc(100% - 36px + 4px);
    width: 100%;
    //margin-right: 36px;
    transition: all 300ms ease-in-out;
    overflow: hidden;
    padding: 0 16px;
    height: calc(100dvh - 8rem);
    //border-top-left-radius: 23px;
    //border-top-right-radius: 23px;
    border-radius: 23px;
    margin-top: 36px;

    &:not(.collapsed) {
      height: calc(100dvh - 8rem);
      //top: 10dvh;
    }

    ul.overflow {
      max-height: calc(100dvh - 8rem);
    }

    &.collapsed {
      height: 0;
    }
  }

  #explorer {
    &:not(.collapsed) .lucide-menu {
      transform: rotate(90deg);
      transition: transform 200ms ease-in-out;
    }
    .lucide-menu {
      stroke: var(--darkgray);
      transition: transform 200ms ease;
      &:hover {
        stroke: var(--dark);
      }
    }
  }
}

.no-scroll {
  opacity: 0;
  overflow: hidden;
}

html:has(.no-scroll) {
  overflow: hidden;
}

@media all and not ($desktop) {
  .no-scroll {
    opacity: 1 !important;
    overflow: auto !important;
    scrollbar-gutter: stable both-edges;
  }
  html:has(.no-scroll) {
    overflow: auto !important;
    scrollbar-gutter: stable both-edges;
  }
}
