.canvas {

}

.canvas-container {

}

.canvas-node {
    /*font-family: var(--codeFont);*/
    padding: 1rem;
    border-radius: 5px;
    overflow-x: auto;
    border: 1px solid var(--lightgray);
    position: relative;
    background-color: var(--light);
    /*font-size: 0.85rem;*/
    display: grid;
    box-sizing: border-box;
    overflow-x: scroll;
}

.canvas-node-text {

}