@use "./base.scss";
@use "./themes";
@use "./variables.scss" as *;

// put your custom CSS here!
.social-icon {
  display: inline-flex;
  color: var(--dark);
  transition: color 0.2s ease;
  margin: 0.5rem 0 0;
  width: 24px;
  height: 24px;
  & svg {
    width: 24px;
    height: 24px;
  }
}

.social-icon:hover {
  color: var(--secondary);
}

article.popover-hint p {
  text-align: justify;
  text-align-last: initial;
}

.center > .page-header {
  &:has(~ .hide-date) {
    .content-meta {
      display: none;
    }
  }
  &:has(~ .hide-title) {
    .article-title {
      display: none;
    }
  }
}

// Replaces default Footnotes heading text
#footnote-label {
  font-size: 0;
  &:before {
    font-size: 1.4rem;
    content: "References";
  }
}
