@use "./base.scss";
@use "./variables.scss" as *;
@use "./highlights.scss";
@use "quartz-themes";

// put your custom CSS here!
@media all and ($mobile) {
  .sidebar.left > .explorer {
    flex: 1;
  }
  .search > #search-container > #search-space > #search-layout {
    &[data-preview] > #results-container {
      flex: unset;
      width: 100%;
    }
    > #preview-container {
      display: none;
    }
  }
}
