$pageWidth: 750px;
$mobileBreakpoint: 600px;
$tabletBreakpoint: 1000px;
$sidePanelWidth: 250px;
$topSpacing: 6rem;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth + 2 * $pageSpacer;
$pageSpacer: 125px;
